body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: black;
    width: 100%;
    text-align: center;
}

p {
    font-size: 3em;
}


/*Images*/
.logo {
    width: 5%;
    height: 5%;
    text-align: left;
}


button {
    font-size: 3em;
    padding: 0.5em;
    margin-bottom: 20em;
    font-weight: bold;

}

/*First page*/

.firstpage {
    color: white;
    font-size: 1.5em;
    background-image: url("../pics of me/IMG_9972-EDIT-redusert kvalitet.JPG");    
}

.firstpage nav a {
    font-size: 4em;
    text-decoration: none;
    text-align: right;
}

.firstpage nav a:hover {
    background-color: white;
    color: black;

}

.firstpage p {
    margin-right: 30%;
    margin-left: 30%;
    text-align: left;
}


