body {
    background-image: url("../images/artist/4-dark.JPG");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

div {
    background-color: aqua;
    opacity: 50%;
    position: relative;
    top: 0;
    left: 25%;
    width: 50%;
    height: 85vh;
}