/*Global*/

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: white;
    background-color: rgb(27, 27, 27);
    text-align: center;
}

p {
    max-width: 30%;
    display: inline-block;
    text-align: justify;
}

article {
    max-width: 50%;
    display: inline-block;
    text-align: justify;
    margin: 3rem 2rem 20rem 5rem;
}

h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0px;
}

button {
    height: 3rem;
    width: 10rem;
    border: 3px solid transparent;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
    background-color: white;
    
}

button:hover {
    color: white;
    background-color: rgb(27, 27, 27);
    font-weight: 900;
    border-color: white;
}

button:active {
    color: black;
    background-color: white;
    height: 2.9rem;
    width: 8.9rem;
}

/*Header*/
.logo {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 2%;
    left: 1%;
}

/*Nav*/
nav {
    height: 100px;
    width: 60%;
    padding: 1px;
    position: fixed;
    top: 1%;
    right: 0;
    
}

nav a {
    margin-left: 3%;
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
    border-radius: 1rem;
    
}

nav a:hover {
    color: rgb(27, 27, 27);
    background-color: white;
}


/*Frontpage*/

#frontpage div {
    height: 80vh;
    width: 100%;
}
#frontpage {
    margin-top: 30%;
}
#frontpage h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0px;
}

.frontpage-preview {
    width: 30%;
    position: relative;
    left: 8%;

}
#frontpage button {
    position: relative;
    top: 7%;
    right: 15%;

}

#frontpage p {
    position: absolute;
    bottom: 10%;
    left: 30vw;
}


#frontpage p > img {
    float:right;
    max-width: 4rem;
    max-height: auto;
    margin: 1rem;
}



/*Music - Latest Releases*/

#music div {
    position: relative;
    min-height: 100rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.song1-cover-art {
    position: absolute;
    left: 5%;
    top: 5%;
    max-width: auto;
    max-height: 315px;
}

.song1-youtube-preview {
    position: absolute;
    left: 50%;
    top: 5%;
    max-width: auto;
    max-height: 315px;

}

.song1-play-button {
    max-width: auto;
    max-height: 2rem;
    position: absolute;
    right: 83vw;
    top: 22%;
    z-index: 2;

}

.song2-cover-art {
    position: absolute;
    left: 5%;
    top: 30%;
    max-width: auto;
    max-height: 315px;
}

.song2-youtube-preview {
    position: absolute;
    left: 50%;
    top: 30%;
    max-width: auto;
    max-height: 315px;

}

.song2-play-button {
    max-width: auto;
    max-height: 2rem;
    position: absolute;
    right: 83vw;
    top: 47%;
    z-index: 2;

}